@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

:root {
  font-size: 10px;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: url(./Assests/spaceQuality.jpg), linear-gradient(to bottom right, rgba(1, 8, 18, 0.8) 0%, rgba(74, 74, 74, 0.5) 76%, rgba(124, 124, 124, 0.1) 100%);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

#function{
  background: linear-gradient(to top left, rgba(190, 190, 190, 0.247), rgba(255, 255, 255, 0.51));
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  border-radius: 1rem;
  font-size: 3.2rem;
  padding: 2rem 2.5rem;
}
.display{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-width: 240px;
}
.display .pomodoro-time{
  text-align: center;
  /* width: 320px; */
  width: 100%;
  padding: 0.2rem 2rem;
  font-size: 4.8rem;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  border-radius: 0.5rem;
}
.display .rest-rounds{
  /* width: 320px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rest-rounds .rest-time,
.rounds-left{
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  border-radius: 0.5rem;
  font-size: 3.2rem;
}
.display button{
  /* width: 320px; */
  width: 100%;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
  color: aquamarine;
  background: linear-gradient(45deg, rgba(4, 41, 144, 0.646), rgba(1, 23, 64, 0.777));
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.form select{
  background: url(./Assests/down-arrow.png);
  background-position: right center;
  background-size:20px;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  font-size: 3.2rem;
  font-weight: 600;
  height: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .25);
  outline: none;
}
.select-option{
  background-color: rgb(189, 203, 255);
}
.form button{
  display: block;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
  color: aquamarine;
  width: 200px;
  background: linear-gradient(45deg, rgba(4, 41, 144, 0.646), rgba(1, 23, 64, 0.777));
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.on-complete{
  display: none;
}
.on-complete.active{
  display: block;
}
.display {
  display: none;
}
.display.active {
  display: flex;
}
.form.disable {
  display: none;
}

/* Sounds */
.bg-sounds{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: linear-gradient(to top left, rgba(212, 212, 212, 0.125), rgba(255, 255, 255, 0.422));
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  border-radius: 1rem;
  padding: 2rem 2.5rem;
}
.bg-sound{
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}
.bg-sounds img{
  width: 60px;
}
.bg-sounds input{
  width: 90px;
}

.bg-sound .img-container{
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  margin-bottom: 10px;
 }
 .img-container.active{
  transform: scale(1.05);
  box-shadow: 0 2px 8px 2px rgba(74, 13, 166, 0.6);
  border: 1px solid rgba(74, 13, 166, 0.25);
  background: linear-gradient(to top left, rgba(57, 13, 129, 0.496), rgba(82, 31, 158, 0.625));
  transition: transform 350ms ease-in-out,
              background 350ms ease-in-out;
 }

footer{
  position: absolute;
  bottom: 0;
  left: 45%;
  margin-bottom: 5px;
  background: linear-gradient(to top left, rgba(190, 190, 190, 0.247), rgba(255, 255, 255, 0.51));
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

@media (max-width: 880px) {
  body{
  flex-direction: column;
  }
  .form .input{
    display: flex;
    flex-direction: column;
  }
  .form .input select{
    margin-bottom: 1rem;
  }
  .bg-sounds{
    width: 90%;
  }
  .bg-sound img{
    width: 50px;
  }
  .bg-sound input{
    width: 80px;
  }
}

@media (max-width: 700px) {
  :root{
    font-size: 8px;
  }
  .form{
    width: 90%;
  }
  .bg-sounds{
    padding: 1.5rem 1rem;
  }
  .bg-sound{
    padding: 1rem;
  }
  footer{
    left: 38%;
  }
}
@media (max-width: 400px) {
  footer{
    left: 30%;
    margin-bottom: 1px;
  }
  .form{
    gap: 0.5rem;
    font-size: 2.4rem;
  }
  .form select{
    padding: 0.5rem 1rem;
    font-size: 2.8rem;
  }
  .bg-sounds{
    margin-bottom: 40px;
  }
}